.abouthero {
    background-image: linear-gradient(
        $color-primary 0%,
        rgba(22, 26, 48, 0.8) 40%
    );
    padding-top: 3rem;
    border-bottom-right-radius: 12rem;
    border-bottom-left-radius: 12rem;
    padding-bottom: 10rem;
    margin-top: 5rem;

    &__container {
        width: $container-width;
        margin: 0 auto;
        display: flex;
        gap: 7rem;
        margin-bottom: 5rem;
    }

    &__image {
        height: 40rem;
        width: auto;
        border: 10px solid $color-gray;
        border-radius: 20px;
    }

    &__text {
        border: 10px solid $color-gray;
        border-radius: 20px;

        padding: 2rem;
        background-color: $color-white;
        color: $color-primary;

        .point {
            &:not(:first-of-type) {
                margin-top: 4rem;
            }
        }
    }
}
