.hero {
    width: $container-width;
    margin: 10rem auto 0;

    &__header {
        font-size: 7rem;
        text-align: center;
        font-weight: 700;
        margin-bottom: 8rem;
    }

    &__container {
        display: flex;
        gap: 6rem;
    }
}
