.hero {
    background-image: linear-gradient(rgba(22, 26, 48, 0.8) 0%, #161a30 40%);
    padding-top: 3rem;
    border-top-left-radius: 12rem;
    border-top-right-radius: 12rem;
    padding-bottom: 10rem;
    // background-color: rgba(22, 26, 48, 0.8);

    &__box {
        width: $container-width;
        margin: 0 auto;
    }

    &__header {
        font-size: 5rem;
        text-align: center;
        font-weight: 700;
        margin-bottom: 8rem;
        letter-spacing: 3px;
        background-color: $color-white;
        padding: 3rem 6rem;
        color: $color-primary;
        border: 3px solid $color-white;
        border-radius: 20px;
        border: 10px solid $color-gray;
        width: 70rem;
        display: block;
        margin: 3rem auto 10rem;
        transform: translateY(10rem);
        opacity: 0;
        transition: 0.6s 0.2s all;
        visibility: hidden;

        &.visible {
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
        }
    }

    &__container {
        display: flex;
        gap: 6rem;
    }

    &__eventbox {
        flex-basis: 33.333%;
    }

    &__button {
        display: block;
        padding: 3rem 6rem;
        background-color: $color-gray;
        color: $color-primary;
        border: 5px solid $color-white;
        font-size: 4rem;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1.1px;
        width: 45rem;
        text-align: center;
        margin: 5rem auto 0;
        border-radius: 20px;
        text-transform: capitalize;
        cursor: pointer;
        transition: all 0.2s ease-in;
        margin-bottom: 10rem;

        &:hover {
            scale: 1.2;
            box-shadow: 0 10px 20px rgba($color: #ffffff, $alpha: 0.3);
            background-color: $color-primary;
            color: $color-white;
        }
    }
}
