@keyframes arrow {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.arrow {
    position: fixed;
    bottom: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    transition: all 0.5s ease-in;
    opacity: 1;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $color-gray;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    color: $color-white;
    animation: arrow 2s infinite;
    font-weight: 700;

    &__icon {
        fill: $color-white;
        stroke: $color-white;
        height: 4rem;
        width: 4rem;
    }

    &.hidden {
        opacity: 0;
    }
}
