.logo {
    display: flex;
    align-items: center;

    &__icon {
        width: 5rem;
        height: auto;
        margin: 0;
        fill: $color-white;
    }

    &__text {
        font-size: 2rem;

        p {
            &:last-child {
                margin-left: 2rem;
            }
        }
    }
}
