.event {
    width: $container-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    color: $color-white;
    border: 3px solid $color-white;
    border-radius: 20px;
    padding: 3rem 6rem;
    margin-bottom: 3rem;
    box-shadow: 5px 10px 20px rgba(255, 255, 255, 0.2);

    &__title {
        font-size: 4em;
        font-weight: 700;
    }

    &__text {
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        line-height: 1.3;
    }
}
