.event {
    width: $container-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;
    color: $color-primary;

    &__title {
        font-size: 4em;
        font-weight: 700;
    }

    &__text {
        text-align: center;
    }
}
