.navbar {
    width: $container-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 10rem;

    &__links {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }
}
