$color-primary: #343a40;
$color-white: #fefefe;
$color-purple: #724e8b;
$color-primary-dark: rgb(255, 113, 118);
$color-yellow: #ffd074;
$color-blue: rgb(105, 180, 252);

$border-radius: 5.8rem;

$container-width: 133rem;
$container-width-mobile: 60rem;
$outsourcing-width: 110rem;
