$color-primary: #161a30;
$color-secondary: #31304d;
$color-white: #f0ece5;
$color-gray: #b6bbc4;

$border-radius: 5.8rem;

$container-width: 130rem;
$container-width-mobile: 60rem;
$outsourcing-width: 110rem;
