.video {
    width: 100vw;
    margin: 0 auto;
    z-index: -1;
    position: relative;

    &__container {
        position: relative;
        height: 100vh;
        min-height: -webkit-fill-available;
        // overflow-y: hidden; /* Hide vertical overflow at the bottom */
    }

    video {
        width: 100vw;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: -0.9rem;
    }
}
