.video {
    width: 100vw;
    margin: 0 auto;
    z-index: -1;
    position: relative;

    @include mobileXL {
        display: none;
    }

    &__container {
        position: relative;
        height: calc((12 / 16) * 100vw);
        min-height: -webkit-fill-available;
        // overflow-y: hidden; /* Hide vertical overflow at the bottom */
    }

    video {
        width: 100vw;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        // margin-bottom: -0.9rem;
    }

    &__mobile {
        display: none;

        @include mobileXL {
            display: block;
        }
    }
}
