.video {
    width: 100vw;
    margin: 0 auto;
    z-index: -1;
    position: relative;

    @include mobileXL {
        display: none;
    }

    &__mobile {
        display: none;

        @include mobileXL {
            display: block;
            width: 100vw;
            height: auto;
            margin-bottom: 12rem;
        }
    }

    &__container {
        position: relative;
        top: 0;
        height: calc((11.5 / 16) * 100vw);
        // min-height: -webkit-fill-available;
        // overflow-y: hidden; /* Hide vertical overflow at the bottom */

        @include mobileXL {
            display: none;
        }

        &-mobile {
            position: relative;
            height: auto;
            // min-height: -webkit-fill-available;
        }
    }

    video {
        width: 100vw;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        // margin-bottom: -0.9rem;
        box-shadow: 0px 5px 25px 5px rgba(255, 255, 255, 0.3);
    }
}
