.footer {
    // height: 30rem;
    background-color: rgba(240, 236, 229, 0.5);
    backdrop-filter: blur(30px);

    &__container {
        width: $container-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        @include mobileXL {
            width: $container-width-mobile;
        }
    }

    &__icons {
        display: flex;
        gap: 3rem;
    }

    &__icon {
        height: 3rem;

        width: auto;
        fill: $color-white;
    }
}
