@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
    margin: 0 auto;
    box-sizing: border-box;
}

// #__next {
//   width: 100vw;
//   overflow: hidden;
// }

html {
    // font-size: 62.5%;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    -webkit-text-size-adjust: none;
    color: $color-white;

    @include xxl {
        // font-size: 55%;
        font-size: 9px;
        width: 100vw;
    }

    @include xl {
        // font-size: 50%;
        font-size: 8px;
    }

    @include l {
        // font-size: 45%;
        font-size: 7px;
    }

    @include m {
        // font-size: 40%;
        font-size: 6px;
    }

    @include s {
        // font-size: 35%;
        font-size: 5px;
    }

    @include xs {
        // font-size: 30%;
        font-size: 4px;
    }

    @include mobileXL {
        font-size: 10px;
    }

    @include mobileL {
        font-size: 9px;
    }

    @include mobileM {
        font-size: 8.5px;
    }

    @include mobileS {
        font-size: 8px;
    }

    @include mobileXS {
        font-size: 7px;
    }
}

body {
    background-color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}
